@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <img src="https://localhost:44344/qr-code?url=https://yurisiman.com.br" alt="" />
    <p>Aponte a câmera do celular e visite meu site!</p>
</div>
    
